<row>
  <columns small="12" large="12">

    <spacer size="10"></spacer>

    <callout class="secondary">
      <h2>{% trans "Dear" %} \{{ user.get_full_name_or_email }}:</h2>

      <h5>
         {% trans "You're receiving this e-mail because you requested a password reset for your user account at" %} \{{ site_name }}.
      </h5>

      <spacer size="10"></spacer>

      <h5>
         {% trans "Please go to the following page and choose a new password" %}:
         {% block reset_link %}
            \{{ protocol }}://\{{ domain }}{% url 'accounts:accounts_password_reset_confirm' uidb64=uid token=token %}
         {% endblock %}
      </h5>

      <spacer size="10"></spacer>

      <h5>
         {% trans "Your username, in case you've forgotten" %}: \{{ user.email }}
      </h5>

      <spacer size="10"></spacer>

      <h5>
         {% trans "Thanks for using our site!" %}
      </h5>

      <spacer size="10"></spacer>

      <h5>
         {% trans "FlyersConcierge Team." %}
      </h5>
    </callout>
  </columns>
</row>