{% if not LANGUAGE_CODE %}
  {% with 'en' as LANGUAGE_CODE %}
    <row>
      {% if LANGUAGE_CODE == 'en' %}
        <columns small="6" large="6">
          <center>
            <a href="https://itunes.apple.com/us/app/flyers-concierge/id1035360024?mt=8" target="_blank">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'es' %}
        <columns small="6" large="6">
          <center>
            <a href="https://itunes.apple.com/es/app/flyers-concierge/id1035360024?mt=8" target="_blank">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'pt' %}
        <columns small="6" large="6">
          <center>
            <a href="https://itunes.apple.com/pt/app/flyers-concierge/id1035360024?mt=8" target="_blank">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'fr' %}
        <columns small="6" large="6">
          <center>
            <a href="https://itunes.apple.com/fr/app/flyers-concierge/id1035360024?mt=8" target="_blank">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'de' %}
        <columns small="6" large="6">
          <center>
            <a href="https://itunes.apple.com/us/app/flyers-concierge/id1035360024?mt=8" target="_blank">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'en' %}
        <columns small="6" large="6" class="text-center">
          <center>
            <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'es' %}
        <columns small="6" large="6" class="text-center">
          <center>
            <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=es">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'pt' %}
        <columns small="6" large="6" class="text-center">
          <center>
            <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=pt">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'fr' %}
        <columns small="6" large="6" class="text-center">
          <center>
            <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=fr">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}

      {% if LANGUAGE_CODE == 'de' %}
        <columns small="6" large="6" class="text-center">
          <center>
            <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=de">
              {% if HOSTNAME_PROTOCOL %}
                 <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% else %}
                 <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
              {% endif %}
            </a>
          </center>
        </columns>
      {% endif %}
    </row>
  {% endwith %}
{% else %}
  <row>
    {% if LANGUAGE_CODE == 'en' %}
      <columns small="6" large="6">
        <center>
          <a href="https://itunes.apple.com/us/app/flyers-concierge/id1035360024?mt=8" target="_blank">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'es' %}
      <columns small="6" large="6">
        <center>
          <a href="https://itunes.apple.com/es/app/flyers-concierge/id1035360024?mt=8" target="_blank">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'pt' %}
      <columns small="6" large="6">
        <center>
          <a href="https://itunes.apple.com/pt/app/flyers-concierge/id1035360024?mt=8" target="_blank">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'fr' %}
      <columns small="6" large="6">
        <center>
          <a href="https://itunes.apple.com/fr/app/flyers-concierge/id1035360024?mt=8" target="_blank">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'de' %}
      <columns small="6" large="6">
        <center>
          <a href="https://itunes.apple.com/us/app/flyers-concierge/id1035360024?mt=8" target="_blank">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/apple_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'en' %}
      <columns small="6" large="6" class="text-center">
        <center>
          <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'es' %}
      <columns small="6" large="6" class="text-center">
        <center>
          <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=es">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'pt' %}
      <columns small="6" large="6" class="text-center">
        <center>
          <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=pt">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'fr' %}
      <columns small="6" large="6" class="text-center">
        <center>
          <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=fr">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}

    {% if LANGUAGE_CODE == 'de' %}
      <columns small="6" large="6" class="text-center">
        <center>
          <a href="https://play.google.com/store/apps/details?id=com.flyersconcierge.tracker&hl=de">
            {% if HOSTNAME_PROTOCOL %}
               <img src="\{{ HOSTNAME_PROTOCOL }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% else %}
               <img src="\{{ protocol }}://\{{ domain }}/static/images/market_badges/android_market_\{{ LANGUAGE_CODE }}.png">
            {% endif %}
          </a>
        </center>
      </columns>
    {% endif %}
  </row>
{% endif %}
